<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>
<header>
  <% include ../partials/header %>
</header>

<body class="fix-header">
  <main>
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row bg-title">
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Cấp quyền </h4> </div>
          <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
              <li><a href="#">Cấp quyền</a></li>
            </ol>
          </div>
          <!-- /.col-lg-12 -->
        </div>

        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
              <div class="box-title">Cấp quyền cho người dùng</div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Tên nhân viên</th>
                      <th>Quyền hạn</th>
                      <th>Xác nhận</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Deshmukh Deshmukh </td>
                      <td>
                        <select id="bode" style="width:auto">
                            <option>Admin</option>
                            <option>Người dùng</option>
                        </select>
                        </td>
                      <td><a href="#">Cập nhật</a></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Deshmukh Deshmukh </td>
                      <td>
                        <select id="bode" style="width:auto">
                            <option>Admin</option>
                            <option>Người dùng</option>
                        </select>
                        </td>
                      <td><a href="#">Cập nhật</a></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Deshmukh Deshmukh </td>
                      <td>
                        <select id="bode" style="width:auto">
                            <option>Admin</option>
                            <option>Người dùng</option>
                        </select>
                        </td>
                      <td><a href="#">Cập nhật</a></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Deshmukh Deshmukh </td>
                      <td>
                        <select id="bode" style="width:auto">
                            <option>Admin</option>
                            <option>Người dùng</option>
                        </select>
                        </td>
                      <td><a href="#">Cập nhật</a></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Deshmukh Deshmukh </td>
                      <td>
                        <select id="bode" style="width:auto">
                            <option>Admin</option>
                            <option>Người dùng</option>
                        </select>
                        </td>
                      <td><a href="#">Cập nhật</a></td>
                    </tr>

                  </tbody>
                </table>
              </div>


            </div>
          </div>
        </div>


      </div>
      <!-- /.container-fluid -->

    </div>
  </main>

  <footer>

    <% include ../partials/footer %>
  </footer>

</body>

</html>
